<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% include "../includes/head.html" %}
</head>
<body>


	 <div id="login-page">
	  	<div class="container">
		{% block content %}{% endblock %}
		</div>
	</div>
	{% include "../includes/foot.html" %}
	<script src="/js/lib/auth.js"></script>
	<script src="/js/lib/jquery.backstretch.min.js"></script>
	<script>
    $.backstretch('/img/login-bg.jpg', {speed: 500});
  </script>
    {% block scripts %}{% endblock %}
</body>
</html>
