 <!--**********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

        	  <p class="centered"><a href="#"><img src="img/ui-sam.jpg" class="img-circle" width="60"></a></p>
        	  <h5 class="centered">Fusionary</h5>

            <li class="mt">
                <a class="{% if page === 'dashboard' %} active {% endif %}" href="/">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu">
                <a class="{% if page === 'blank' %}active{% endif %}" href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>Sample Pages</span>
                </a>
                <ul class="sub">
                    <li class="{% if page === 'blank' %}active{% endif %}"><a  href="/blank">Blank Page</a></li>
                    <li><a  href="/lock-screen">Lock Screen</a></li>
                    <li class="{% if page === 'watable' %}active{% endif %}"><a  href="/watable">Responsive Table</a></li>
                    <li class="{% if page === 'morris' %}active{% endif %}"><a  href="/morris">Morris Charts</a></li>
                    <li class="{% if page === 'chartjs' %}active{% endif %}"><a  href="/chartjs">Chartjs</a></li>
                </ul>
            </li>

            <li class="">
                <a class="{% if page === 'chat' %} active {% endif %}" href="/chat">
                    <i class="fa fa-comments-o"></i>
                    <span>Chat</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end -->
