{% extends './layouts/auth.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<form id="add-event" class="form-login" action="/new-event">
    <h2 class="form-login-heading">add an event</h2>
    <div class="login-wrap">
        <div class="form-group">
          <input name="email" id="email" type="text" class="form-control" placeholder="Email" autofocus></div>
        <div class="form-group">
          <input class="form-control" type="text" name="beaconId" placeholder="beacon id">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="beaconName" placeholder="beacon name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="eventAction" value="enter">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="eventType" value="beacon">
        </div>

        <div class="form-group">
          <button class="btn btn-theme btn-block" href="index.html" type="submit">ADD EVENT</button>
        </div>
        <a href="/events">Go to events</a> |
        <a href="/users">Go to users</a>
    </div>
</form>

{% endblock %}
{% block scripts %}{% autoescape false %}{{ scripts }}{% endautoescape %}{% endblock %}



