{% extends './layouts/default.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<!--main content start-->
<section id="main-content">
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> Users</h3>

    <!-- BASIC FORM ELELEMNTS -->
    <div class="row">
      <div class="col-lg-12">
        <div class="content-panel">

          <div id="users" class="panel-body">
            hello
          </div>
        </div>

      </div>
    </div>
  </section>
</section>
{% endblock %}
{% block scripts %}{% autoescape false %}

{% endautoescape %}{% endblock %}
