{% extends './layouts/default.html' %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}{% autoescape false %}
  <link rel="stylesheet" href="js/watable/watable.css" type="text/css" />
{% endautoescape %}{% endblock %}

{% block content %}
<!--main content start-->
<section id="main-content">
  <section class="wrapper site-min-height">
    <h3>Responsive Table</h3>

    <div class="row">
      <div class="col-lg-12">
        <div class="content-panel">
          <div id="table-con" style="width:95%;margin:0 auto;"></div>
        </div>
        <br>
        <p><a href="http://wootapa-watable.appspot.com/">waTable</a></p>
      </div>
    </div>
  </section>
</section>
{% endblock %}
{% block scripts %}{% autoescape false %}
{% endautoescape %}{% endblock %}
